@import 
    '../../styles/functions/functions',
    '../../styles/functions/respond',
    '../../styles/variables/variables';

.main-section {
    width: 100%;
    padding: 50px 0;
    &__content-container {
        width: 100%;
        @include center-column();
        padding: 0 10%;
        .content-box {
            width: 100%;
            padding: 30px 0;
            .info-heading {
                margin-bottom: 40px;
            }
        }
        .slider-box {
            width: 100%;
            position: relative;
            
            .info-slide-img {
                width: 100%;
                
            }
        }
    }
}