<main id="info" class="main-section">
    <div class="main-section__content-container">
        <div class="content-box-1 content-box">
            <h2 class="info-heading">heading 2</h2>
            <p class="info-conent">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsam? Harum nulla laudantium saepe alias dolorem perspiciatis, et minima sint dolorum voluptates neque voluptatibus, esse laboriosam blanditiis, necessitatibus voluptas eum?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo alias itaque facere sapiente expedita? Fugit dignissimos necessitatibus ex ipsam quos illum, quis magni! Id saepe animi, harum earum deleniti eaque!
            </p>
        </div>

        <div class="slider-box">
            <div class="slide-1 info-slide">
                <img class="info-slide-1-img info-slide-img" src="../../../assets/imgs/info-img/slide-1.png" alt="slide-img">
            </div>
            <div class="slide-2 info-slide">
                <img class="info-slide-2-img info-slide-img" src="../../../assets/imgs/info-img/slide-2.png" alt="slide-img">
            </div>
            <div class="slide-3 info-slide">
                <img class="info-slide-3-img info-slide-img" src="../../../assets/imgs/info-img/slide-3.png" alt="slide-img">
            </div>
            
        </div>

        <div class="content-box-2 content-box">
            <h2 class="info-heading">heading 2</h2>
            <p class="info-conent">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsam? Harum nulla laudantium saepe alias dolorem perspiciatis, et minima sint dolorum voluptates neque voluptatibus, esse laboriosam blanditiis, necessitatibus voluptas eum?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo alias itaque facere sapiente expedita? Fugit dignissimos necessitatibus ex ipsam quos illum, quis magni! Id saepe animi, harum earum deleniti eaque!
            </p>
        </div>
    </div>
</main>

