@import 
    '../../styles/functions/functions',
    '../../styles/functions/respond',
    '../../styles/variables/variables';

.footer-section {
    width: 100%;
    background: #000;
    height: 100px;
    @include center();
    color: #fff;
    
    &__content-container {
        @include center-column();

        .policy-container {
            margin-top: 20px;
        }
    }
}