<header id="home" class="header-section">
    <div class="header-section__content-container">
        <h1 class="home-heading">
            Heading
        </h1>
        <span class="home-heading-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sint sapiente iure reiciendis unde ipsum impedit? Magnam neque, suscipit dolorum provident quasi accusantium perferendis. Excepturi reiciendis repellat magnam voluptatem maxime.
        </span>
    </div>
    <div class="header-section__scroll-button-container">
        <a href="#info" class="scroll-button">
            scroll
        </a>
    </div>
</header>